@media print {
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }

  tr.visible-print {
    display: table-row !important;
  }

  table.visible-print {
    display: table;
  }

  .visible-print {
    display: block !important;
  }

  .visible-print-block {
    display: block !important;
  }

  .visible-print-inline {
    display: inline !important;
  }

  .visible-print-inline-block {
    display: inline-block !important;
  }

  .hidden-print {
    display: none !important;
  }
}